@model MathMvc.Models.GameModel

<<<<<<< HEAD

<div class="container">
    <h2>Result:</h2>
    <p>Number of resolved accounts: @ViewData["challengesSolve"]</p>
    <p>Number of unresolved accounts: @ViewData["challengesUnsolved"]</p>
    <p>Win Rate: @ViewData["winRate"]%</p>
    <hr>
    <a class="nav-link text-blue" asp-area="Identity" asp-controller="Home" asp-action="Index">Back to HomePage...</a>
</div>
=======
<h2>Result:</h2>
<p>Number of resolved accounts: @ViewData["challengesSolve"]</p>
<p>Number of unresolved accounts: @ViewData["challengesUnsolved"]</p>
<p>Win Rate: @ViewData["winRate"]%</p>
<hr>
<a class="nav-link text-blue" asp-area="Identity" asp-controller="Home" asp-action="Index">Back to HomePage...</a>
>>>>>>> 035134c6a68bf7d4d7657daf1daa2d172cc3f91c

