@using MathMvc.Models.Enums;
@model MathMvc.Models.CreateChallengeModel;
@removeTagHelper Microsoft.AspNetCore.Mvc.TagHelpers.OptionTagHelper, Microsoft.AspNetCore.Mvc.TagHelpers 

<link rel="stylesheet" href="~/css/create_game.css" asp-append-version="true" />

<div class="container">
    <form asp-action="Index" asp-controller="MathGame" method="post">
        <div style="display: flex; flex-direction: column; justify-content: center;">
           <h2>Difficulty:</h2>

            <label class="form-control" style="padding: 15px; display: flex; justify-content: space-evenly; flex-direction: row;">
                <div class="btn-group btn-group-toggle" style="width: 100%; height: 100%;" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                        @if(Model.Difficulty == @GameDifficulty.Easy){
                            <input type="radio" name="Difficulty" id="option1" autocomplete="off" value="@GameDifficulty.Easy" checked>
                            <p>Easy</p>
                        }
                        else{
                            <input type="radio" name="Difficulty" id="option1" autocomplete="off" value="@GameDifficulty.Easy">
                            <p>Easy</p>
                        }
                    </label>
                    <label class="btn btn-success">
                        @if(Model.Difficulty == @GameDifficulty.Normal){
                        <input type="radio" name="Difficulty" id="option2" autocomplete="off" value="@GameDifficulty.Normal" checked>
                            <p>Normal</p> 
                        }
                        else{
                        <input type="radio" name="Difficulty" id="option2" autocomplete="off" value="@GameDifficulty.Normal">
                        <p>Normal</p> 
                        }
                    </label>
                    <label class="btn btn-danger">
                        @if(Model.Difficulty == @GameDifficulty.Hard){
                        <input type="radio" name="Difficulty" id="option3" autocomplete="off" value="@GameDifficulty.Hard" checked> 
                        <p>Hard</p>
                        }
                        else{
                        <input type="radio" name="Difficulty" id="option3" autocomplete="off" value="@GameDifficulty.Hard"> 
                        <p>Hard</p>
                        }
                    </label>
                    <label class="btn btn-dark">
                        @if(Model.Difficulty == @GameDifficulty.Genius){
                        <input type="radio" name="Difficulty" id="option3" autocomplete="off" value="@GameDifficulty.Genius" checked> 
                        <p>Genius</p>
                        }
                        else{
                        <input type="radio" name="Difficulty" id="option3" autocomplete="off" value="@GameDifficulty.Genius"> 
                        <p>Genius</p>
                        }
                    </label>
                </div>
            </label>

            <br />
            <div class="card border-primary mb-3">
                <div class="card-header">How does this difficulty work?</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Easy</h5>
                    <p class="card-text">Addition and subtraction, no time to resolve, multiple choice, five challenges.</p>
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header">How does this difficulty work?</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Normal</h5>
                    <p class="card-text">Addition and subtraction, no time to resolve, multiple choice, five challenges.</p>
                </div>
            </div>

            <div class="card border-danger mb-3">
                <div class="card-header">How does this difficulty work?</div>
                <div class="card-body text-danger">
                    <h5 class="card-title">Hard</h5>
                    <p class="card-text">Addition, subtraction and division, <strong>time to resolve</strong>, multiple choice, five challenges.</p>
                </div>
            </div>

            <div class="card border-dark mb-3">
                <div class="card-header">How does this difficulty work?</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Genius</h5>
                    <p class="card-text">Addition, subtraction, division and multiplication, <strong>time to resolve, no multiple choice</strong>, five challenges.</p>
                </div>
            </div>

            <br />
            <button type="submit" class="button-36" role="button">Start challenge</button>
        </div>
    </form>
</div>
